.about {
    width: 100%;
    height: 100vh;
    padding: 7rem 10rem;
    box-sizing: border-box;
	display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.about-img {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../Assets/pp.jpg");
    border-radius: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(200px);
}

.about-info-header {
    padding: 20px 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(200px);
}

.about-bio {
    font-size: 18px;
    line-height: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(200px);
}

.about-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(200px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .about {
        padding: 2rem;
    }
    .about-container {
        height: auto;
    }
    .about-header {
        font-size: 26px;
        padding: 10px;
    }
    .about-img {
        height: 150px;
        width: 150px;
    }
    .about-info-header {
        padding: 10px 0;
        font-size: 16px;
    }
    .about-bio {
        font-size: 12px;
    }
}