.about {
    width: 100%;
    height: 100vh;
    padding: 6rem 10rem;
	display: flex;
    flex-direction: column;
}

.about-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.about-img {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../Assets/pp.jpg");
    border-radius: 100%;
}

.about-me {
    padding: 20px;
}

.about-info-header {
    padding: 10px 0;
    text-align: center;
}