.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  color: #333333;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  transform: scale(0);
}

.scroll-to-top-button.visible {
  opacity: 1;
  transform: scale(1);
}

.scroll-to-top-button i {
  font-size: 60px;
  transition: color 0.3s;
}

.scroll-to-top-button:hover i {
  color: #333333;
}

@media (max-width: 768px) {
  .scroll-to-top-button {
    display: none;
  }
  .scroll-to-top-button i {
    display: none;
  }
}
