.project {
	width: 100%;
	height: 100vh;
	padding: 6rem 6rem;
	display: flex;
	flex-direction: column;
}

.project-header {
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
}

.project-text {
   opacity: 0;
   transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
   transform: translateY(200px);
}

.card-element {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	width: 300px;
	height: 150px;
	margin: 50px 0 100px 60px;
	opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(200px);
  }
  
  .card-info {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100px;
	padding: 16px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #fafafa;
	transition: all 0.5s ease-in-out;
	top: 100%;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
  }
  
  .card:hover .card-info {
	top: 0;
	height: 250px;
	border-radius: 8px;
  }
  
  .card-image {
	width: 100%;
	height: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.8);
	transition: all 0.7s ease-in-out;
	object-fit: cover;
  }

  .card:hover .card-image {
	box-shadow: none;
  }
  
  .card-name {
	display: flex;
	justify-content: space-between;
  }

  .project-name {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
  }

  .project-date {
	margin-top: 6px;
	font-size: 14px;
  }

  .project-icon {
	max-height: 38px;
	max-width: 38px;
	color: transparent;
  }
  
  .project-info {
	margin-top: 6px;
	font-size: 18px;
	overflow: hidden;
  }

  .project-url {
	margin-top: 6px;
	font-size: 18px;
	font-weight: bolder;
	overflow: hidden;
	text-decoration: none;
  }

  .visible {
	opacity: 1;
	transform: translateY(0);
 }