.contact {
	width: 100%;
	padding: 7rem 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.contact-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	font-weight: 600;
}

.contact-text {
	opacity: 0;
	scale: 0;
    transition: opacity 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.social-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	opacity: 0;
	scale: 0;
    transition: opacity 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.social-btns .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.35s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
	background-color: #fff;
	width: 90px;
	height: 90px;
	line-height: 90px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 28%;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.social-btns .btn:before {
	top: 90%;
	left: -110%;
	content: '';
	width: 120%;
	height: 120%;
	position: absolute;
	transform: rotate(45deg);
	transition: all 0.35s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
	background-color: #3b5998;
}

.social-btns .btn .bi {
	transform: scale(0.8);
	font-size: 38px;
	vertical-align: middle;
	transition: all 0.35s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn.instagram:before {
	background-color: #E4405F;
}

.social-btns .btn.instagram .bi {
	color: #E4405F;
}

.social-btns .btn.twitter:before {
	background-color: #3CF;
}

.social-btns .btn.twitter .bi {
	color: #3CF;
}


.social-btns .btn.linkedin:before {
	background-color: #0072b1;
}


.social-btns .btn.linkedin .bi {
	color: #0072b1;
}


.social-btns .btn.github:before {
	background-color: #333;
}

.social-btns .btn.github .bi {
	color: #333;
}

.social-btns .btn.earmark:before {
	background-color: #c71610;
}

.social-btns .btn.earmark .bi {
	color: #c71610;
}


.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
	top: -10%;
	left: -10%;
}

.social-btns .btn:focus .bi,
.social-btns .btn:hover .bi {
	color: #fff;
	transform: scale(1);
}

.visible {
	opacity: 1;
	scale: 1;
 }

 @media (max-width: 768px) {
	.contact {
		padding: 1rem 0 0.5rem 0;
		margin-top: 50px;
	}
	.contact-header {
		font-size: 26px;
	}
	.social-btns {
		margin-top: 10px;
	}
	.social-btns .btn {
		width: 60px;
		height: 60px;
		margin: 0 5px;
	}
	.social-btns .btn .bi {
		font-size: 28px;
	}
 }