.Home {
    width: 100%;
    height: 100vh;
    padding: 7rem 10rem;
    display: flex;
    align-items: center;
	justify-content: center;
    flex-direction: column;
	box-sizing: border-box;
}

.info-span {
	color: #333333;
}

.scrolling-text {
	height: 65px;
	width: 100%;
	overflow: hidden;
	margin: 20px 0;
	text-align: center;
}

.home-scroll {
	animation-name: titleflip;
	animation: titleflip 7.5s ease-in-out infinite;
}

ul {
	height: 13.5em;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

li {
	list-style-type: none;
	height: 1em !important;
	font-size: 3em;
	text-transform: uppercase;
	width: 100%;
	color: #333333;
}

.image-cards-container {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.image-card {
	display: flex;
	align-items: flex-end;
	justify-content: center;
    width: 200px;
    height: 300px;
    transition: all 0.5s ease;
    position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	cursor: pointer;
}

.last {
	border-top-right-radius: 75px;
	border-bottom-right-radius: 75px;
}

.first {
	border-top-left-radius: 75px;
	border-bottom-left-radius: 75px;
}

.image-card:hover {
    width: 320px;
    z-index: 1;
    animation: myCard 1s ease-in-out forwards;
}

.card-span {
	font-size: 20px;
	color: white;
	padding: 2px;
}

.firstSpan {
	margin-left: 40px;
}

.lastSpan {
	margin-right: 40px;
}

.image-cards-container .image-card:first-of-type {
    background-image: url("https://media.discordapp.net/attachments/1052774681591164990/1158584789427822664/tutku.jpg?ex=651cc7ab&is=651b762b&hm=af4dabf25a7dcec750791e47c025a0027097fc835c22e32e1be1e37615ab4a66&=");
}

.image-cards-container .image-card:nth-of-type(2) {
    background-image: url("https://cdn.discordapp.com/attachments/1052774681591164990/1158580844584255488/9dfeb8817ad82d4d6cb0bcb33a64ccfa.png?ex=651cc3fe&is=651b727e&hm=819dc2708c43a669e0f894c53ad32ddcdf49b9ac1c89533341f938c2fbfbb021&");
}

.image-cards-container .image-card:nth-of-type(3) {
    background-image: url("https://i.pinimg.com/564x/28/f6/2e/28f62e1d6a2bde1e6ac0ae86b7d008df.jpg");
}

.image-cards-container .image-card:nth-of-type(4) {
    background-image: url("https://cdn.discordapp.com/attachments/1052774681591164990/1158582140745826444/a9a893d89df5cc0ab17d4cc2eaf9d2c0.png?ex=651cc533&is=651b73b3&hm=18bfbc9a0fc0c9c761c30ddcbe1fc9436929216394bdad9022dfd56af129a0e0&");
}

@keyframes myCard {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.05)
    }
}

@keyframes titleflip {
	0%, 20% {
	transform: translate(0px, -12.50em);
	}
	20%,
	40% {
   transform: translate(0px, -9.375em);
	}
	40%,
	60% {
	  -webkit-transform: translate(0px, -6.44em);
	}
	60%,
	80% {
	transform: translate(0px, -3.44em);
	}
	80%,
	100% {
	transform: translate(0px, -0.315em);
	}
	100%,
	0% {
	  transform: translate(0px, -12.50em);
	}
  }

  @media (max-width: 768px) {
	.Home {
		padding: 2rem;
	}
	.info-span {
		font-size: 26px;
	}
	.scrolling-text {
		margin: 20px 0;
		height: 20px;
	}
	li {
		font-size: 20px;
	}
	.image-cards-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 70%;
	}
	.image-card {
		width: 200px;
		height: 250px;
	}
	.image-card:hover {
		width: 250px;
	}
	.first {
		border-radius: 0;
	}
	.last {
		border-radius: 0;
	}
	.firstSpan {
		margin: 0;
	}
	.lastSpan {
		margin: 0;
	}
	.card-span {
		font-size: 16px;
		color: rgb(255, 255, 255);
		font-weight: 600;
		padding: 0px;
	}
	
	@keyframes titleflip {
		0%, 20% {
		transform: translate(0px, -85px);
		}
		20%,
		40% {
	   transform: translate(0px, -65px);
		}
		40%,
		60% {
		  -webkit-transform: translate(0px, -45px);
		}
		60%,
		80% {
		transform: translate(0px, -25px);
		}
		80%,
		100% {
		transform: translate(0px, -5px);
		}
		100%,
		0% {
		  transform: translate(0px, -85px);
		}
	  }
  }