@keyframes myAnim {
    0% {
        transform: scale(0.5);
        transform-origin: 50% 100%;
        top: -100px;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
        top: 0;
    }
}

@keyframes myAnimHome {
	0% {
		transform: translate(0, 0) scale(1);
	}

    25% {
		transform: translate(-400px, 450px) scale(2);
	}

    26%,
	31%,
	41% {
        transform: translate(-400px, 450px) scale(2) rotate(-5deg);
	}

	30%,
	35%,
	40% {
        transform: translate(-400px, 450px) scale(2) rotate(5deg);
	}

	50% {
        animation-timing-function: ease-in;
        transform: translate(-400px, 450px) scale(2.25);
	}

    55% {
        animation-timing-function: ease-out;
        transform: translate(-400px, 450px) scale(2);
	}

    60% {
        animation-timing-function: ease-in;
        transform: translate(-400px, 450px) scale(2.5);
	}

    65% {
        animation-timing-function: ease-out;
        transform: translate(-400px, 450px) scale(2);
	}

    70% {
        transform: translate(-400px, 450px) scale(2);
        opacity: 1;
	}

    100% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translate(-400px, 450px) scale(30);
	}


}

.nav {
    position: relative;
    min-height: 80px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #DFE1E6;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    box-shadow: 0px 5px 10px 0px #DFE1E6;
    animation: myAnim 1s ease 0s 1 normal both;
  }  

  .nav-name {
    display: flex;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-menu .menu-tags {
    position: relative;
    display: flex;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 600;
  }

  .home:hover {
    animation: myAnimHome 3s ease 0s 1 normal forwards;
  }