.nav {
  position: absolute;
  min-height: 80px;
  width: 100vw;
  background: #fff;
  border-bottom: 1px solid #DFE1E6;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  box-shadow: 0px 5px 10px 0px #DFE1E6;
  animation: myAnim 0.5s ease 0s 1 normal both;
  display: none;
}

.nav-name {
  display: flex;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu .menu-tags {
  position: relative;
  display: flex;
  margin-left: 30px;
  cursor: pointer;
  font-weight: 600;
}

@keyframes myAnim {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 100%;
    top: -100px;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    top: 0;
  }
}