@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: #1F2667;
  font-weight: 400;
  font-size: 16px;
  background-color: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  color: #1F2667;
}

h1 {
  padding: 10px 0;
  font-size: 48px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}