@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
  color: #1F2667;
  font-weight: 400;
  font-size: 16px;
}

* {
  box-sizing: border-box; 
}